
h1
{
  font-size: large;
  font-weight: 600;
  font-style: italic;
  color:rgb(82, 13, 13);
  text-decoration: underline;
}

table{
  color: rgb(123, 19, 19);
  background-color: rgb(251, 179, 179);
  font-weight: 700;
  border-color: rgb(63, 21, 21);
}